@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jacquard+24&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{ 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #f7c3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.contact-screen{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 3px solid #530031;
    border-radius: 20px;
    padding: 10px;
    gap:10px;
    background-color:  #88004f;
    height:80%;
    width: 100%;
}
.titulos-contactos{
    padding: 20px 20px 3px 20px;
    font-size: 170%;
    font-weight: bold;
    color:#2c0023;
    
    
    }
    
    .contactos-header{
        display: flex;
    }
    
.contacts{
    display: flex;
    flex-direction: column;
    /* border: 3px solid #000000;
    border-radius: 20px; */
    height: 600px;
    width: 400px;
    background-color:  #88004f;
    padding: 10px;
    gap:15px;
    overflow-y: scroll;
    margin: 0px 10px 10px 10px;
}


.contacts::-webkit-scrollbar {
    width: 8px; 
}

.contacts::-webkit-scrollbar-track {
    background: #f396d2; 
    border-radius: 4px;
}

.contacts::-webkit-scrollbar-thumb {

    background-color: #4d0140;
    border-radius: 4px; 
}

.contacts::-webkit-scrollbar-thumb:hover {
    background-color: #aa116a; 

}

.photos{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 3px solid  #530031;
}

.contact-cont{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    padding:5px;
    border-radius:20px;
    background-color: #ad1f72;
    width: 100%;
    height: 90%;
}

.contacto-mje-nombre{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 5px;
    height: auto;
    width: 100%;
    padding: 5px;


}
.contacto-data{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 5px;
gap: 10px;
height: 80%;
width: 80%;

}



.mensaje-cont{
font-size: 90%;
padding: 3px

}

.nombre-cont{
padding: 3px;
width: 100%;
height: 100%;
font-size: 100%;
border-radius:20px;
font-weight: bold;
/* color:#36002b; */
color:#2c0023;

}

.hour{
padding: 5px;
font-size: 85%;
}