@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jacquard+24&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{ 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


.contact-screen{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    gap:20px;
}

.photos{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 2px solid black;
}

.contact-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}